body {
	background-color: black;
}

#encore-supercontainer {
	background-color: black;
	background-image: url('../img/crowdpic.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

h1, h2, h3, h4, p {
	font-family:'Hero', Helvetica, Arial, Verdana , sans-serif;
	color: white;
}

h5, h6 {
	font-family:'Hero', Helvetica, Arial, Verdana , sans-serif;
	color: black;
	font-size: 15px;
}

.contact h6 {
	font-size: 12px
}

#encore-header h1 {
	font-size: 80px;
}

#encore-header p {
	font-family:'Hero Light', Helvetica, Arial, Verdana , sans-serif;
	font-size: 22px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.btn {
	font-family:'Hero Light', Helvetica, Arial, Verdana , sans-serif;
	font-size-adjust:0.52;
	font-weight:normal; 
	font-style:normal;
	font-size: 20px;
	line-height: 25px;
}

.btn-primary {
	color: #ffffff;
	background-image: linear-gradient(to bottom, #03B0E3, #03B0E3);
	border-color: #03B0E3;
}

.btn-primary:hover {
	background-color: #1DCCFF;
	background-image: linear-gradient(to bottom, #1DCCFF, #1DCCFF);
	background-image: -webkit-linear-gradient(top, #1DCCFF, #1DCCFF);
}

footer {
	margin-top: 0;
	padding-top: 0px;
	background-color: #E1E1E1;
}

@media (max-width: 767px) {
	#encore-container {
		padding-bottom: 0px;
		margin-bottom: -10px;
	}

	#encore-header {
		margin-top: 30px;
	}
}

.flexslider.iphonetop { 
	background-image:url('../img/iphonetop.png'); 
	background-repeat: no-repeat; 
	background-size: 294px 350px; 
	width:235px;
	height:258px; 
	padding: 90px 32px 1px 32px; 
	margin: 0 auto;
}