body {
	background-color: white;
}


#video_background { 
	width: 100%; 
	height: auto; 
	min-width: 100%;
	z-index: -1000;
	overflow: hidden; 
}

#video_pattern { 
	position: absolute;
	width: 100%; 
	height: auto;
	min-width: 100%; 
	z-index: 1; 
}

#logo{
	position: absolute;
	z-index: 2;
	left:41%;
	margin-left:-158px;
	margin-top: 20px;
}

#download1 {
	position: absolute;
	z-index: 3;
	padding-left: 130px;
	padding-top: 460px;
}


.explainer{
	position: absolute;
	z-index: 4;
	padding-left: 100px;
	padding-top: 370px;
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
	font-size-adjust:0.52;
	font-weight:normal; 
	font-style:normal;
	font-size: 20px;
	line-height: 25px;
	opacity: 0.5;

}



.middlearea {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
}


.iphone {
	bottom: -30px;
	left:50%;
	margin-left:-158px;
	position: absolute;
}


/**

display: block;
	margin-left: auto;
	margin-right: auto;

#video_pattern { 
	position: absolute;
	background-image: url('../img/gradient.png'); 
	width: 100%; 
	height: auto; 
	z-index: 1; 
}
**/

.fullvideo {
	position: fixed;
	top: 80%
}

#encore-supercontainer {
	background-color: white;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

h1 {
	font-family: 'Null Regular', 'Arial Black', Arial, Helvetica, Verdana, sans-serif;
	text-transform: none;
	font-size-adjust:0.56;
	font-weight: normal;
	font-style: normal;
}

#footer h1 {
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
}

h2, h3, h4, p {
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
	color: white;
}

h5, h6 {
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
	color: black;
	font-size: 15px;
}

.contact h6 {
	font-size: 12px
}

#encore-header h1 {
	font-size: 80px;
}

#encore-header p {
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
	font-size: 22px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.btn {
	font-family:'Hero Regular', Helvetica, Arial, Verdana , sans-serif;
	font-size-adjust:0.52;
	font-weight:normal; 
	font-style:normal;
	font-size: 20px;
	line-height: 25px;
}

.btn-primary {
	color: #ffffff;
	background-image: linear-gradient(to bottom, #03B0E3, #03B0E3);
	border-color: #03B0E3;
}

.btn-primary:hover {
	background-color: #1DCCFF;
	background-image: linear-gradient(to bottom, #1DCCFF, #1DCCFF);
	background-image: -webkit-linear-gradient(top, #1DCCFF, #1DCCFF);
}

footer {
	margin-top: 0;
	padding-top: 70px;
	background-color: #ffffff;
}

@media (max-width: 767px) {
	#encore-container {
		padding-bottom: 0px;
		margin-bottom: -10px;
	}

	#encore-header {
		margin-top: 30px;
	}
}

.flexslider.iphonetop { 
	background-image:url('../img/iphonetop.png'); 
	background-repeat: no-repeat; 
	background-size: 294px 350px; 
	width:235px;
	height:258px; 
	padding: 90px 32px 1px 32px; 
	margin: 0 auto;
}

.wf-loading body {
    visibility: hidden;
}